# Analysis of fly data

In [17]:
import pandas as pd
import seaborn as sns
import numpy as np

In [9]:
genes = pd.read_csv('./data/modencodefly_phenodata.txt', sep = ' ')
genes

     sample.id  num.tech.reps          stage
0    SRX007811              5    Embryos0002
1    SRX008180              2    Embryos0002
2    SRX008227              1    Embryos0002
3    SRX008238              1    Embryos0002
4    SRX008258              1    Embryos0002
..         ...            ...            ...
142  SRX008157              1  whiteprepupae
143  SRX008204              1  whiteprepupae
144  SRX008269              1  whiteprepupae
145  SRX008272              1  whiteprepupae
146  SRX008276              3  whiteprepupae

[147 rows x 3 columns]

In [10]:
data = pd.read_csv('./data/modencodefly_pooledreps_count_table.txt', sep ='\t')
data.head()

,gene,SRX007811,SRX008015,SRX008027,SRX008025,SRX008010,SRX008005,SRX008018,SRX008007,SRX008006,...,SRX008013,SRX008022,SRX008024,SRX008012,SRX008028,SRX008021,SRX008171,SRX008155,SRX008017,SRX008157
0,FBgn0000003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,FBgn0000008,7551,2115,3561,2393,4201,10789,20594,12805,4935,...,5020,3167,2925,2412,4361,2542,21523,7813,3639,8644
2,FBgn0000014,135,1331,9645,14198,14129,11359,22710,11238,8229,...,1302,277,233,1212,1131,804,4279,1784,1090,10784
3,FBgn0000015,64,590,5982,5692,5690,4127,7978,3009,2804,...,440,88,82,949,1272,952,1258,802,553,2012
4,FBgn0000017,19124,15294,11862,11312,14809,20546,28808,21247,13142,...,10766,10522,9733,4885,7084,5081,17637,8525,4548,10929

In [11]:
genes_chosen = genes[genes['sample.id'].isin(data.columns)].copy()
#genes_chosen.head(100)

In [12]:
genes_chosen['num.tech.reps'].value_counts()

2    16
4     7
3     3
5     2
1     2
Name: num.tech.reps, dtype: int64

In [13]:
new_names = {}
new_names_inv ={}
for idx,row in genes_chosen.iterrows():
    new_names[row['sample.id']]= row['stage']
    new_names_inv[row['stage']] = row['sample.id']

In [14]:
data_embryos = data.copy()
data_embryos.rename(columns = new_names, inplace = True)
data_embryos.index = data_embryos.gene
data_embryos = data_embryos[[col for col in data_embryos.columns if 'Embryos' in col]]

In [26]:
data_embryos[np.max(data_embryos.values, axis = 1) > 0]

,Embryos0002,Embryos0204,Embryos0406,Embryos0608,Embryos0810,Embryos1012,Embryos1214,Embryos1416,Embryos1618,Embryos1820,Embryos2022,Embryos2224
gene,,,,,,,,,,,,
FBgn0000008,7551,2115,3561,2393,4201,10789,20594,12805,4935,6014,2760,5338
FBgn0000014,135,1331,9645,14198,14129,11359,22710,11238,8229,8321,2918,6706
FBgn0000015,64,590,5982,5692,5690,4127,7978,3009,2804,3150,1121,2804
FBgn0000017,19124,15294,11862,11312,14809,20546,28808,21247,13142,9013,8859,14643
FBgn0000018,1642,232,643,417,385,340,499,279,203,175,92,234
...,...,...,...,...,...,...,...,...,...,...,...,...
FBgn0261571,0,0,0,1,0,2,0,1,0,0,0,1
FBgn0261572,1,0,5,3,2,9,33,189,288,512,302,487
FBgn0261573,8555,6679,14756,10400,8477,8561,6581,5417,3163,2167,1274,2229
FBgn0261574,7294,11656,44248,28671,25593,12129,52880,19981,21715,14489,6387,18008
FBgn0261575,5,18,174,161,253,217,239,162,248,485,142,327

In [29]:
data_embryos.to_csv('./data/fly_data_embryos.csv')
data_embryos.rename(columns = new_names_inv, inplace = True)
data_embryos.to_csv('./data/fly_data_embryos_SRX_names.csv')

,SRX007811,SRX008015,SRX008027,SRX008025,SRX008010,SRX008005,SRX008018,SRX008007,SRX008006,SRX008020,SRX008011,SRX008019
gene,,,,,,,,,,,,
FBgn0000003,0,0,0,0,0,0,0,0,0,0,0,0
FBgn0000008,7551,2115,3561,2393,4201,10789,20594,12805,4935,6014,2760,5338
FBgn0000014,135,1331,9645,14198,14129,11359,22710,11238,8229,8321,2918,6706
FBgn0000015,64,590,5982,5692,5690,4127,7978,3009,2804,3150,1121,2804
FBgn0000017,19124,15294,11862,11312,14809,20546,28808,21247,13142,9013,8859,14643
...,...,...,...,...,...,...,...,...,...,...,...,...
FBgn0261571,0,0,0,1,0,2,0,1,0,0,0,1
FBgn0261572,1,0,5,3,2,9,33,189,288,512,302,487
FBgn0261573,8555,6679,14756,10400,8477,8561,6581,5417,3163,2167,1274,2229
FBgn0261574,7294,11656,44248,28671,25593,12129,52880,19981,21715,14489,6387,18008
FBgn0261575,5,18,174,161,253,217,239,162,248,485,142,327