In [1]:
import pandas as pd 
from pandas_profiling import ProfileReport
import numpy as np
import seaborn as sns

In [2]:
original_data = pd.read_csv('./data/fly_data_embryos.csv', index_col=0)
original_data = original_data[np.max(original_data.values, axis = 1) > 0]
original_data.head()

,Embryos0002,Embryos0204,Embryos0406,Embryos0608,Embryos0810,Embryos1012,Embryos1214,Embryos1416,Embryos1618,Embryos1820,Embryos2022,Embryos2224
gene,,,,,,,,,,,,
FBgn0000008,7551,2115,3561,2393,4201,10789,20594,12805,4935,6014,2760,5338
FBgn0000014,135,1331,9645,14198,14129,11359,22710,11238,8229,8321,2918,6706
FBgn0000015,64,590,5982,5692,5690,4127,7978,3009,2804,3150,1121,2804
FBgn0000017,19124,15294,11862,11312,14809,20546,28808,21247,13142,9013,8859,14643
FBgn0000018,1642,232,643,417,385,340,499,279,203,175,92,234

In [3]:
data = pd.read_csv('./results/sim_data_1.csv',index_col=0)
data.columns = original_data.columns
data.head()

,Embryos0002,Embryos0204,Embryos0406,Embryos0608,Embryos0810,Embryos1012,Embryos1214,Embryos1416,Embryos1618,Embryos1820,Embryos2022,Embryos2224
1,2927,1044,2335,3388,4852,11406,15518,12748,9922,8330,3505,7150
2,1952,2164,8922,9126,9842,12343,21543,15797,10793,8293,3380,7053
3,2536,1851,5193,4373,4492,6039,7176,3887,2723,1971,973,1937
4,27665,10160,14679,11232,12541,18152,23555,18284,15177,13343,7562,15900
5,1729,447,557,283,277,303,394,299,227,240,148,292

In [4]:
data.describe()

,Embryos0002,Embryos0204,Embryos0406,Embryos0608,Embryos0810,Embryos1012,Embryos1214,Embryos1416,Embryos1618,Embryos1820,Embryos2022,Embryos2224
count,13164.000000,13164.000000,1.316400e+04,1.316400e+04,1.316400e+04,1.316400e+04,1.316400e+04,1.316400e+04,13164.000000,1.316400e+04,13164.000000,13164.000000
mean,4209.277499,3441.314114,8.008407e+03,4.949393e+03,4.665378e+03,5.959713e+03,7.357531e+03,5.891474e+03,5381.032057,5.484228e+03,3007.908842,6048.887572
std,14596.908683,14605.016327,3.616427e+04,2.120284e+04,1.978579e+04,2.521464e+04,2.881718e+04,2.446613e+04,22458.274475,2.516274e+04,12550.935434,24926.439437
min,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
25%,10.000000,7.000000,1.800000e+01,1.600000e+01,2.000000e+01,3.275000e+01,5.200000e+01,6.100000e+01,74.000000,8.200000e+01,42.000000,91.750000
50%,548.000000,344.000000,7.160000e+02,5.830000e+02,6.405000e+02,8.990000e+02,1.276500e+03,1.106000e+03,1079.500000,1.080500e+03,621.500000,1273.000000
75%,3781.000000,2671.500000,5.651000e+03,3.750000e+03,3.704000e+03,4.669250e+03,6.066750e+03,4.545250e+03,3989.500000,3.796000e+03,2197.000000,4436.250000
max,897605.000000,978420.000000,2.409446e+06,1.345395e+06,1.202531e+06,1.258052e+06,1.647318e+06,1.194066e+06,965013.000000,1.103305e+06,480240.000000,980242.000000

In [5]:
profile = ProfileReport(np.log(data+1), title = "Simulated data report")

In [6]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/26 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

# Try with the original data

In [7]:
profile = ProfileReport(np.log(original_data+1), title = "Original fly data report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/26 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

# Compare statistics among the databases

In [8]:
data[np.max(data.values, axis = 1 ) > 0].describe()

,Embryos0002,Embryos0204,Embryos0406,Embryos0608,Embryos0810,Embryos1012,Embryos1214,Embryos1416,Embryos1618,Embryos1820,Embryos2022,Embryos2224
count,13118.000000,13118.000000,1.311800e+04,1.311800e+04,1.311800e+04,1.311800e+04,1.311800e+04,1.311800e+04,13118.000000,1.311800e+04,13118.000000,13118.000000
mean,4224.037887,3453.381537,8.036489e+03,4.966749e+03,4.681738e+03,5.980611e+03,7.383331e+03,5.912133e+03,5399.901357,5.503459e+03,3018.456472,6070.098796
std,14620.348973,14629.178712,3.622451e+04,2.123796e+04,1.981852e+04,2.525634e+04,2.886436e+04,2.450650e+04,22495.354665,2.520473e+04,12571.657331,24967.529946
min,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
25%,10.000000,8.000000,1.900000e+01,1.700000e+01,2.025000e+01,3.400000e+01,5.500000e+01,6.300000e+01,78.000000,8.700000e+01,44.000000,96.000000
50%,559.000000,352.500000,7.290000e+02,5.915000e+02,6.545000e+02,9.155000e+02,1.294000e+03,1.117500e+03,1092.500000,1.089500e+03,628.000000,1281.500000
75%,3801.000000,2689.000000,5.673500e+03,3.767000e+03,3.714750e+03,4.687250e+03,6.102750e+03,4.574000e+03,4012.750000,3.808250e+03,2207.250000,4459.000000
max,897605.000000,978420.000000,2.409446e+06,1.345395e+06,1.202531e+06,1.258052e+06,1.647318e+06,1.194066e+06,965013.000000,1.103305e+06,480240.000000,980242.000000

In [9]:
original_data.describe()

,Embryos0002,Embryos0204,Embryos0406,Embryos0608,Embryos0810,Embryos1012,Embryos1214,Embryos1416,Embryos1618,Embryos1820,Embryos2022,Embryos2224
count,13164.000000,13164.000000,1.316400e+04,1.316400e+04,1.316400e+04,1.316400e+04,1.316400e+04,1.316400e+04,13164.000000,1.316400e+04,13164.000000,13164.000000
mean,4209.845260,3441.474552,8.008124e+03,4.949637e+03,4.665803e+03,5.959567e+03,7.358035e+03,5.892875e+03,5382.195913,5.484586e+03,3007.626177,6048.282209
std,13807.063134,15163.024063,3.612983e+04,2.118964e+04,2.005857e+04,2.630163e+04,2.883898e+04,2.566992e+04,22748.969369,2.558992e+04,12648.189526,24612.030514
min,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
25%,2.000000,5.000000,1.400000e+01,1.200000e+01,1.800000e+01,2.400000e+01,3.900000e+01,3.900000e+01,52.000000,6.600000e+01,34.000000,87.000000
50%,146.000000,200.000000,5.290000e+02,4.370000e+02,5.455000e+02,8.830000e+02,1.240500e+03,9.105000e+02,982.000000,9.595000e+02,558.000000,1221.000000
75%,4068.500000,2335.500000,5.524000e+03,3.623250e+03,3.534500e+03,4.722500e+03,6.084000e+03,4.171250e+03,3878.500000,3.673250e+03,2134.000000,4472.750000
max,803339.000000,992748.000000,2.314580e+06,1.337788e+06,1.265408e+06,1.328442e+06,1.761780e+06,1.197089e+06,965154.000000,1.120215e+06,498127.000000,968773.000000

# Skewness and kurtosis

In [10]:
data.kurtosis(), original_data.kurtosis()

(Embryos0002    1201.736520
 Embryos0204    1669.402772
 Embryos0406    1647.178426
 Embryos0608    1358.511010
 Embryos0810    1154.705059
 Embryos1012     587.676321
 Embryos1214     914.468012
 Embryos1416     593.460920
 Embryos1618     517.234667
 Embryos1820     675.659386
 Embryos2022     506.746399
 Embryos2224     540.115015
 dtype: float64,
 Embryos0002     964.412931
 Embryos0204    1533.735866
 Embryos0406    1428.593925
 Embryos0608    1307.612054
 Embryos0810    1298.275222
 Embryos1012     621.715382
 Embryos1214    1139.193081
 Embryos1416     551.684117
 Embryos1618     510.394353
 Embryos1820     640.963344
 Embryos2022     435.682109
 Embryos2224     495.127807
 dtype: float64)

In [15]:
data.skew(),original_data.skew()

(Embryos0002    24.741654
 Embryos0204    30.278097
 Embryos0406    30.271989
 Embryos0608    26.955902
 Embryos0810    24.713937
 Embryos1012    18.106179
 Embryos1214    21.590412
 Embryos1416    18.449411
 Embryos1618    17.813401
 Embryos1820    20.646836
 Embryos2022    17.783321
 Embryos2224    18.274334
 dtype: float64,
 Embryos0002    21.628767
 Embryos0204    28.899562
 Embryos0406    27.979666
 Embryos0608    26.166541
 Embryos0810    26.013998
 Embryos1012    18.768101
 Embryos1214    23.857515
 Embryos1416    18.287282
 Embryos1618    17.757522
 Embryos1820    20.260588
 Embryos2022    16.514574
 Embryos2224    17.460961
 dtype: float64)

# Correlations

In [20]:
method = 'pearson'
(data.corr(method = method) - original_data.corr(method = method))

,Embryos0002,Embryos0204,Embryos0406,Embryos0608,Embryos0810,Embryos1012,Embryos1214,Embryos1416,Embryos1618,Embryos1820,Embryos2022,Embryos2224
Embryos0002,0.000000,0.035407,0.044053,0.045820,0.039227,0.037231,0.045056,0.038774,0.034082,0.019195,0.032221,0.029607
Embryos0204,0.035407,0.000000,0.012544,0.023537,0.018440,0.022058,0.023448,0.026354,0.019713,0.005063,0.020326,0.014361
Embryos0406,0.044053,0.012544,0.000000,0.007878,0.007007,0.008936,0.010135,0.017790,0.010218,-0.002714,0.014594,0.006976
Embryos0608,0.045820,0.023537,0.007878,0.000000,0.005388,0.016711,0.014553,0.021338,0.014627,0.002387,0.024329,0.018814
Embryos0810,0.039227,0.018440,0.007007,0.005388,0.000000,0.011408,0.008786,0.023809,0.012294,0.002256,0.020803,0.013121
Embryos1012,0.037231,0.022058,0.008936,0.016711,0.011408,0.000000,0.026394,0.036076,0.026411,0.019997,0.030651,0.025603
Embryos1214,0.045056,0.023448,0.010135,0.014553,0.008786,0.026394,0.000000,0.034484,0.017213,0.014971,0.031557,0.019034
Embryos1416,0.038774,0.026354,0.017790,0.021338,0.023809,0.036076,0.034484,0.000000,0.008900,0.014975,0.026046,0.025531
Embryos1618,0.034082,0.019713,0.010218,0.014627,0.012294,0.026411,0.017213,0.008900,0.000000,0.020109,0.033047,0.028905
Embryos1820,0.019195,0.005063,-0.002714,0.002387,0.002256,0.019997,0.014971,0.014975,0.020109,0.000000,0.016003,0.020537
Embryos2022,0.032221,0.020326,0.014594,0.024329,0.020803,0.030651,0.031557,0.026046,0.033047,0.016003,0.000000,0.006487
Embryos2224,0.029607,0.014361,0.006976,0.018814,0.013121,0.025603,0.019034,0.025531,0.028905,0.020537,0.006487,0.000000

# A little analysis 

Regarding the mean, they are almost the same. 

Regarding the standard deviation: they are almost the same

The histograms are quite similar but not completely. some tend more to zero, and some tend more to extreme values. 

Kurtosis and skewness are also similar.

Correlation is quite similar, but the original data is a little more correlated.